<div class="content">
    <label for="login">
        <span>Логин</span>
        <input type="text" id="login">
    </label>
    <label for="password">
        <span>Пароль</span>
        <input type="password" id="password">
    </label>
    <a href="" class="register-button btn btn-primary">
        <span>Зарегистрироваться</span>
    </a>
    <a href="" class="auth-button btn btn-primary">
        <span>Войти</span>
    </a>
</div>
