
<div class="student_content">
    <form action="/" method="POST">
        <div class="top">
            <img src="Ahaha.jpg" alt="Мем: табличка 'Хочу ответить'" class="mem">
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-success reply"></button>
            <button type="button" class="btn btn-info ask"></button>
        </div>
    </form>
</div>
