<div class="student_content">
    <form action="/" method="POST">
        <div class="top">
            <div class="input_text">
                <input type="text" class="data" data-required="true">
            </div>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-success reply"></button>
            <button type="button" class="btn btn-info ask"></button>
        </div>
    </form>
</div>
