<div class="index-content">
    <form action="" class="auth-form" method="post" enctype="multipart/form-data">
        <label for="name" class="auth-form__label" >
            <input type="text" id="name" placeholder="Имя" value="" name="name" required>
        </label>
        <label for="surname" class="auth-form__label" >
            <input type="text" id="surname" placeholder="Фамилия" value="" name="surname" required>
        </label>
        <button type="submit" class="index__button register-button btn btn-primary">
            <span>Войти на занятие</span>
        </button>
    </form>
</div>
