.header
{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7db0e1;
    background-color: #009d91;
}
